h1{
	text-align: center;
}
h2{
	text-align: center;
}

.button13{
	width: 200px;
	height: 50px;
	font-size: 20px;
	background: #3B8D9C;
	border: 0px solid blue;
}
a{
	text-decoration: none;
}
.div1{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.div2{
	width: 90%;
	margin-left: 20%;
}
.p1{
	display: inline-block;
	font-size: 25px;
}
header{
	color: #74D5E6;
}
main{
	color: #335E66;
}
.input1{
	width: 200px;
	height: 50px;
	font-size: 20px;
	background: #3B8D9C;
}
.img1{
	width: 35%;
}
main{
	margin: 0px;
}
footer{
	background: lightgrey;
}
.div4{
	border: 1px solid black;
	width: 33%;
	display: inline-block;
	margin-bottom: 5px;
}
.img15{
	width: 30%;
	margin-left: 34%;
}
.carousel-control-prev-icon{
	background: blue;
	margin-left: 80%;
}
.carousel-control-next-icon{
	background: blue;
	margin-right: 80%;
}